* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  background-color: rgb(69, 69, 69);
}

main {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header{
  color: white;
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 50px;
  background-color: rgb(75, 59, 128);
}

figure {
  margin: 2rem;
  background-color: rgb(122, 95, 203);
  border-radius: 20px;
  transition: transform 0.4s ease-out;
}

figure:hover{
transform:scale(1.2)
}

img {
  width: 300px;
  border-radius: 20px;

}

figcaption {
  color: white;
  text-align: center;
  font-size: large;
  background-color: rgb(122, 95, 203);
  border-radius: 20px;
  padding: .5em;
}

footer{
  display: flex;
  justify-content: center;
  margin: .5rem;
  color:white
}