* {
  margin: 0;
}

main {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header{
  color: white;
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: xx-large;
  background-color: rgb(75, 59, 128);
}

figure {
  margin: 1rem;
  background-color: rgb(108, 108, 108);
}

img {
    border: 10px solid rgb(108, 108, 108);
}

figcaption {
  color: white;
  text-align: center;
  font-size: xx-large;
  background-color: rgb(108, 108, 108);
  padding-bottom: .5em;
}