* {
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 1200px) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 70%;
  }
}

.nav {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(75, 59, 128);
  position: fixed;
  width: 100%;
  z-index: 10;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin-right: 2rem;
}

.nav-list a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
  transition: background-color 0.5s;
}

.nav-list a:hover {
  background: rgb(122, 95, 203);
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(104, 104, 104);
  background-image: linear-gradient(62deg, #d0d0d0 0%, #5e5e5e 100%);
}

.welcome-section > h1 {
  color: white;
  font-size: 50px;
}

.welcome-section > p {
  color: rgb(122, 95, 203);
  font-style: italic;
  font-weight: 100;
  font-size: 30px;
}

.projects {
  text-align: center;
  padding: 2rem 10rem;
  background-color: rgb(69, 69, 69);
}

.project-title {
  color: white;
  font-size: 3rem;
  max-width: auto;
  margin: 0 auto rem auto;
  border-bottom: 0.1rem solid white;
}

img {
  max-width: 300px;
}

.projects-grid {
  padding: 4.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-tile {
  margin: 1rem;
  margin-bottom: 2rem;
  background-color: rgb(122, 95, 203);
  border-radius: 20px;
}

figure {
display: flex;
flex-direction: column;
flex-flow: column-reverse;
}

figcaption {
  padding: 1rem;
  text-align: center;
  font-size: x-large;
  color: rgb(78, 58, 138);
  transition: color 0.3s ease-out;
}

figcaption:hover {
  color: rgb(0, 0, 0);
}

.projects {
  padding-top: 5rem;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
  background-color: rgb(91, 91, 91);
  color: white;
}

#contact h1 {
  font-size: xx-large;
  padding: 2rem 0;
}

#contact p {
  font-size: large;
  font-style: italic;
  font-weight: lighter;
}

#contact div {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

#contact div a {
  margin: 2rem;
  color: white;
  text-shadow: 2px 2px 1px #464646;
  transition: transform 0.3s ease-out;
}

#contact div a:hover {
  transform: translateY(-8px);
}

footer {
  color: white;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: rgb(75, 59, 128);
  width: 100vw;
}
