* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(69,69,69);
}

header {
  display: flex;
  justify-content: space-around;
  background-color: rgb(75, 59, 128);
  padding: 2.5em 0;
}

button {
  color: white;
  font-size: x-large;
  border-radius: 10px;
  background-color: rgb(79, 79, 79);
}

button:hover {
  background-color: rgb(118, 99, 182);
}

#main {
  margin-left: 4rem;
  margin-right: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

figure {
  margin: 2rem;
  background-color: rgb(122, 95, 203);
  border-radius: 20px;
  transition: transform 0.4s ease-out;
}

figure:hover{
transform:scale(1.2)
}

img {
  width: 200px;
  border-radius: 20px;

}

figcaption {
  color: white;
  text-align: center;
  font-size: large;
  background-color: rgb(122, 95, 203);
  border-radius: 20px;
  padding-bottom: .5em;
}

footer{
  display: flex;
  justify-content: center;
  margin: .5rem;
  color: white;
}