* {
  margin: 0;
  box-sizing: border-box;
}

.pagetitle{
  font-size: 50px;
  padding: 1rem;
}
main{
  display: flex;
  flex-wrap: wrap;
padding-left: 5rem;
padding-right: 5rem;
background-color: rgb(69, 69, 69);
}

header {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
padding: 1rem;
background-color: rgb(75, 59, 128);
color: white;
}
.facts{
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100vw;
  background-color:  rgb(69, 69, 69);
  color: white;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 2rem;
  color: white;
}

button {
  align-items: center;
  margin: 1rem;
  font-size: 20px;
}

.senators {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5rem;
  margin-right: 5rem;
}

figure {
  width: 160px;
  display: flex;
  flex-direction: column;
  margin: 1em;
  background-color: rgb(118, 99, 182);
  padding: .5rem;
  border-radius: 5px;
}

figcaption {
  text-align: center;
  font-size: small;
  padding-top: .2rem;
}

footer {
  display: flex;
  justify-content: center;
  margin: 1rem;
}